<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-programacion-heading"
        data-cy="ProgramacionCreateUpdateHeading"
        jhiTranslate="agendamientoApp.programacion.home.createOrEditLabel"
      >
        Crear o editar Programacion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="agendamientoApp.programacion.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let fechaRef = editForm.get('fecha')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_fecha"
            [ngbTooltip]="'agendamientoApp.programacion.help.fecha' | translate"
            jhiTranslate="agendamientoApp.programacion.fecha"
            >Fecha</label
          >
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (fechaRef.invalid && (fechaRef.dirty || fechaRef.touched)) {
            <div>
              @if (editForm.get('fecha')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
            </div>
          }
        </div>

        @let desdeRef = editForm.get('desde')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_desde"
            [ngbTooltip]="'agendamientoApp.programacion.help.desde' | translate"
            jhiTranslate="agendamientoApp.programacion.desde"
            >Desde</label
          >
          <div class="d-flex">
            <input
              id="field_desde"
              data-cy="desde"
              type="datetime-local"
              class="form-control"
              name="desde"
              formControlName="desde"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (desdeRef.invalid && (desdeRef.dirty || desdeRef.touched)) {
            <div>
              @if (editForm.get('desde')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('desde')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        @let hastaRef = editForm.get('hasta')!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_hasta"
            [ngbTooltip]="'agendamientoApp.programacion.help.hasta' | translate"
            jhiTranslate="agendamientoApp.programacion.hasta"
            >Hasta</label
          >
          <div class="d-flex">
            <input
              id="field_hasta"
              data-cy="hasta"
              type="datetime-local"
              class="form-control"
              name="hasta"
              formControlName="hasta"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (hastaRef.invalid && (hastaRef.dirty || hastaRef.touched)) {
            <div>
              @if (editForm.get('hasta')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Este campo es obligatorio.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('hasta')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Este campo debe ser una fecha y hora.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_horarioConsulta" jhiTranslate="agendamientoApp.programacion.horarioConsulta"
            >Horario Consulta</label
          >
          <select
            class="form-control"
            id="field_horarioConsulta"
            data-cy="horarioConsulta"
            name="horarioConsulta"
            formControlName="horarioConsulta"
            [compareWith]="compareHorarioConsulta"
          >
            <option [ngValue]="null"></option>
            @for (horarioConsultaOption of horarioConsultasSharedCollection; track $index) {
              <option [ngValue]="horarioConsultaOption">{{ horarioConsultaOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
