<div>
  <h2 id="page-heading" data-cy="HorarioConsultaHeading">
    <span jhiTranslate="agendamientoApp.horarioConsulta.home.title">Horario Consultas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="agendamientoApp.horarioConsulta.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-horario-consulta"
        [routerLink]="['/horario-consulta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="agendamientoApp.horarioConsulta.home.createLabel">Crear nuevo Horario Consulta</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (horarioConsultas?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="agendamientoApp.horarioConsulta.home.notFound">Ningún Horario Consultas encontrado</span>
    </div>
  }

  @if (horarioConsultas && horarioConsultas.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fechaHorario">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.fechaHorario">Fecha Horario</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="horaInicio">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.horaInicio">Hora Inicio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="duracionMinutos">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.duracionMinutos">Duracion Minutos</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diaSemana">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.diaSemana">Dia Semana</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="esHorarioAtencion">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.esHorarioAtencion">Es Horario Atencion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estado">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.estado">Estado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="especialista.id">
              <div class="d-flex">
                <span jhiTranslate="agendamientoApp.horarioConsulta.especialista">Especialista</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (horarioConsulta of horarioConsultas; track trackId(horarioConsulta)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/horario-consulta', horarioConsulta.id, 'view']">{{ horarioConsulta.id }}</a>
              </td>
              <td>{{ horarioConsulta.fechaHorario | formatMediumDate }}</td>
              <td>{{ horarioConsulta.horaInicio | formatMediumDatetime }}</td>
              <td>{{ horarioConsulta.duracionMinutos }}</td>
              <td>{{ horarioConsulta.diaSemana }}</td>
              <td>{{ horarioConsulta.esHorarioAtencion }}</td>
              <td>{{ horarioConsulta.estado }}</td>
              <td>
                @if (horarioConsulta.especialista) {
                  <div>
                    <a [routerLink]="['/especialista', horarioConsulta.especialista.id, 'view']">{{ horarioConsulta.especialista.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/horario-consulta', horarioConsulta.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a
                    [routerLink]="['/horario-consulta', horarioConsulta.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(horarioConsulta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (horarioConsultas && horarioConsultas.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
