<div class="row">
  <div class="col-md-12">
    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >Está conectado como &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <mat-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="form1">
            <form [formGroup]="form1">
              <div class="row cabecera pt-2 pb-2">
                <div class="col-6">
                  <label class="label">Especialista</label>
                </div>
                <div class="col-6 text-end">
                  <button mat-raised-button matStepperNext color="primary">Continuar</button>
                </div>
              </div>

              <div class="row mt-3">
                <mat-form-field class="input-full-width" appearance="outline">
                  <mat-label>Especialidad</mat-label>
                  <mat-select formControlName="especialidad" (selectionChange)="buscarEspecialista($event.value)">
                    <mat-option [value]="null">Seleccione</mat-option>
                    <mat-option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="row mt-1">
                <mat-form-field class="input-full-width" appearance="outline">
                  <mat-label>Especialista</mat-label>
                  <mat-select formControlName="especialista" (selectionChange)="buscarFoto($event.value)">
                    <mat-option [value]="null">Seleccione</mat-option>
                    <mat-option *ngFor="let especialista of especialistas" [value]="especialista.id"
                      >{{ especialista.sujeto?.apellido }} {{ especialista.sujeto?.segundoApellido }} {{ especialista.sujeto?.nombre }}
                      {{ especialista.sujeto?.segundoNombre }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="flex text-center">
                <img src="{{ foto }}" class="photo" alt="Photo of a Shiba Inu" />
              </div>
            </form>
          </mat-step>

          <mat-step>
            <form>
              <div class="row cabecera pt-2 pb-2">
                <div class="col-6">
                  <label class="label">Escoja fecha y hora</label>
                </div>
                <div class="col-6 text-end">
                  <button mat-raised-button matStepperPrevious color="warn">Regresar</button>
                  <button mat-raised-button matStepperNext color="primary">Continuar</button>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      }
    </div>
  </div>
</div>
