<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (programacion(); as programacionRef) {
      <div>
        <h2 data-cy="programacionDetailsHeading"><span jhiTranslate="agendamientoApp.programacion.detail.title">Programacion</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ programacionRef.id }}</span>
          </dd>
          <dt>
            <span [ngbTooltip]="'agendamientoApp.programacion.help.fecha' | translate" jhiTranslate="agendamientoApp.programacion.fecha"
              >Fecha</span
            >
          </dt>
          <dd>
            <span>{{ programacionRef.fecha | formatMediumDate }}</span>
          </dd>
          <dt>
            <span [ngbTooltip]="'agendamientoApp.programacion.help.desde' | translate" jhiTranslate="agendamientoApp.programacion.desde"
              >Desde</span
            >
          </dt>
          <dd>
            <span>{{ programacionRef.desde | formatMediumDatetime }}</span>
          </dd>
          <dt>
            <span [ngbTooltip]="'agendamientoApp.programacion.help.hasta' | translate" jhiTranslate="agendamientoApp.programacion.hasta"
              >Hasta</span
            >
          </dt>
          <dd>
            <span>{{ programacionRef.hasta | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="agendamientoApp.programacion.horarioConsulta">Horario Consulta</span></dt>
          <dd>
            @if (programacion()!.horarioConsulta) {
              <div>
                <a [routerLink]="['/horario-consulta', programacion()!.horarioConsulta?.id, 'view']">{{
                  programacionRef.horarioConsulta?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/programacion', programacionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
